/*FONT SECTION*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/*COLORS SECTION*/
:root {
  --color1: black;
  --color2: white;
}

/*GENERAL SETTINGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  background-color: rgba(231, 177, 111, 0.671);
  border: solid var(--color1);
}

/* HEADER SECTION */
header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 130px;
  border-bottom: var(--color1) solid;
  border-top: var(--color1) solid;
}

img {
  height: 80px;
  width: 80px;
  margin: 30px 20px;
  border: solid black;
}

header h1 {
  font-size: 25px;
}
#menu {
  display: flex;
  padding: 0;
}

#menu li {
  list-style-type: none;
}
#menu a {
  display: block;
  min-width: 120px;
  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  color: var(--color2);
  text-decoration: none;
  font-size: 22px;
}

#menu a:hover {
  text-decoration: underline;
}

/*MAIN SECTION*/

/*FILTER SECTION*/
#filter-section {
  display: flex;
  justify-content: end;
  margin: 0px;
  height: 10vh;
  overflow-y: hidden;
}

.filter {
  background: var(--color2);
  color: var(--color1);
  display: flex;
  border-radius: 20px;
  margin: 20px 20px;
  height: 40px;
  align-items: center;
  width: 190px;
  display: flex;
  justify-content: center;
}

.filter:hover {
  background: black;
  color: white;
  border: solid 1px white;
}
.filter h2 {
  font-size: 15px;
}
/*ARTICLES SECTION*/

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: rgba(245, 245, 245, 0.205);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: solid var(--color1) 2px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px;
  margin: 20px 20px;
  transition: 0.5s ease;
  height: 280px;
}

pre {
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-wrap;
}

img {
  background: url("/img/logo/index.png");
}


p {
  overflow: hidden; 
}